@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply scroll-smooth bg-slate-100 font-poppins;
}

.hamburger-line {
  @apply w-6 h-[0.15rem] my-1.5 block bg-dark;
}

.background {
  @apply bg-gradient-to-b from-[#302d4c] via-[#211e3b] to-[#1b182e];
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: blue;
  }
}